process {
    publishDir = {"./results/$sid/$task.process"}
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
}

params {
    output_dir="./results/"
    nb_threads=1
    para_diff=1.7e-3
    iso_diff=3e-3
    lambda1=0.5
    lambda2=1e-3
    memory_limit='4 GB'
    b_thr=40
}

singularity.autoMounts=true
