process {
    publishDir = {"./results/$sid/$task.process"}
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    scratch = false
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
}

params {
    output_dir="./results/"
    nb_threads=1
    para_diff=1.7e-3
    iso_diff=3e-3
    lambda1=0.5
    lambda2=1e-3
    memory_limit='4 GB'
    b_thr=40
    run_priors_only = false
    nb_subjects_for_priors = 20
    fa_min = 0.7
    fa_max = 0.1
    md_min = 0.003
    roi_radius = 20
}

profiles {
    priors {
        params.run_priors_only = true
    }
}
singularity.autoMounts=true
